*, *:before, *:after {
	box-sizing: border-box;
}

::-moz-selection {
	color: #ecf0f1;
	background: #555;
}

::selection {
	color: #ecf0f1;
	background: #555;
} 

.body {
	margin: 0;
	height: 100vh;
	background-color: #ecf0f1;
	font-family:
	  -apple-system,
	  BlinkMacSystemFont,
	  Segoe UI, Roboto,
	  Oxygen, Ubuntu,
	  Cantarell, Fira
	  Sans, Droid Sans,
	  Helvetica Neue,
	  sans-serif;
	font-size: 18px;
	color: #888;
	letter-spacing: .08em;
	overflow: auto;
	display: flex;
	justify-content: space-between;
}

/* Sidebar */
.sidebar {
	background: #222;
	flex: 0 0 50%;
	display: flex;
}

.sidebar__inner {
	margin: auto;
	text-align: center;
}

.sidebar__img {
	display: block;
	margin: 0 auto 36px;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.sidebar__title {
	margin: 0;
	margin-bottom: 18px;
	font-size: 48px;
	font-weight: 300;
	line-height: 1em;
	color: #fff;
}

.sidebar__subtitle {
	margin: 0;
	font-size: 24px;
	font-weight: 300;
	color: #888;
}

/* End Sidebar */

/* About */

.about {
	padding: 60px;
	overflow: auto;
	flex: 0 0 50%;
}

.about__title {
	font-size: 36px;
	line-height: 1.5em;
	color: #222;
	text-align: left;
	font-weight: 300;
	margin: 0;
	margin-bottom: 1em;
}

.about__title::after {
	content: '';
	display: block;
	height: 3px;
	width: 50px;
	background: #F1C40F;
}

.about__desc p {
	margin: 0;
	margin-bottom: 2em;
}

.about__desc a {
	text-decoration: none;
	color: #222;
	transition: color .3s ease;
}

.about__desc a:hover,
.about__desc a:focus {
	color: #F1C40F;
}

.about__desc h3 {
	font-size: 28px;
	color: #222;
	text-align: left;
	font-weight: 300;
	margin: 0;
	margin-bottom: 0.5em;
}
/* End About */

/* Adaptive */

@media all and ( max-width: 760px ) {	
	.body {
		flex-direction: column;
	}

	.sidebar,
	.about {
		flex: 0 0 100%;
	}
}



