::-moz-selection {
	color: #ecf0f1;
	background: #555;
}

::selection {
	color: #ecf0f1;
	background: #555;
} 

.body {
	margin: 0;
	height: 100vh;
	box-sizing: border-box;
	background-color: #ecf0f1;
	font-family:
	  -apple-system,
	  BlinkMacSystemFont,
	  Segoe UI, Roboto,
	  Oxygen, Ubuntu,
	  Cantarell, Fira
	  Sans, Droid Sans,
	  Helvetica Neue,
	  sans-serif;
	font-size: 18px;
	color: #888;
	letter-spacing: .08em;
	overflow: hidden;
}

.body:after {
    content: '';
    display: block;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    border-style: solid;
    border-width: 0 0 100vh 200px;
    border-color: transparent transparent #f1c40f transparent;
}

.resume__link {
    color: #f1c40f;
    border: 1px solid #f1c40f;
    display: inline-block;
    padding: 11px;
    text-decoration: none;
    font-size: 1em;
    transition: all .3s ease-out;
}

.resume__link:hover,
.resume__link:focus {
	color: #ecf0f1;
  	background-color: #f1c40f;
  	text-decoration: none;
  	outline: none;
}

/* Header */

.header {
	width: 85%;
	margin: auto;
	padding-top: 20px;
}

.header__logo {
	height: 50px;
	width: 225px;
	object-fit: contain;
	object-position: left;
}

/* Resume */

.resume {
	display: flex;
	align-items: center;
	height: calc(100% - 70px);
	width: 100%;
	text-align: left;
	position: relative;
	z-index: 100;
}

.resume__inner {
	position: absolute;
	top: 50%;
	left: 10%;
	transform: translateY(-50%);
}

.resume__title {
	font-size: 3em;
	color: #555;
	text-align: left;
	font-weight: 700;
	margin: 0;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.resume__subtitle {
	font-size: 1.8em;
	font-weight: 100;
	text-transform: capitalize;
}

/* Adaptive */

@media all and ( max-width: 760px ) {
	
	.resume__title {
		font-size: 2.5em;
	}

	.resume__subtitle {
		font-size: 1.5em;
	}
	
	.body:after {
		display: none;
	}
}

@media all and ( max-width: 440px ) {
	
	.resume__title {
		font-size: 1.8em;
	}

	.resume__subtitle {
		font-size: 1.2em;
	}

}



