*, *:before, *:after {
	box-sizing: border-box;
}

::-moz-selection {
	color: #ecf0f1;
	background: #555;
}

::selection {
	color: #ecf0f1;
	background: #555;
} 

.body {
	margin: 0;
	height: 100vh;
	background-color: #ecf0f1;
	font-family:
	  -apple-system,
	  BlinkMacSystemFont,
	  Segoe UI, Roboto,
	  Oxygen, Ubuntu,
	  Cantarell, Fira
	  Sans, Droid Sans,
	  Helvetica Neue,
	  sans-serif;
	font-size: 18px;
	color: #888;
	letter-spacing: .08em;
	overflow-y: auto;
	padding-top: 60px;
}

.container {
	max-width: 700px;
	margin-right: 60px;
	margin-left: 560px;
}

/* Sidebar */
.sidebar {
	background: #222;

	position: fixed;
	top: 0;
	left: 0;
	width: 500px;
	height: 100%;
	padding: 60px;
	overflow-y: auto;
}

.sidebar__inner {
	text-align: center;
	width: 100%;
}

.sidebar__img {
	display: block;
	margin: 0 auto 36px;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.sidebar__title {
	margin: 0 0 18px;
	font-size: 48px;
	font-weight: 300;
	line-height: 1em;
	color: #fff;
}

.sidebar__subtitle {
	margin: 0 0 36px;
	font-size: 24px;
	font-weight: 300;
	color: #888;
}

/* End Sidebar */

/* Social */

.social {
	display: flex;
	justify-content: center;
	align-items: center;
}

.social__link {
	margin-right: 15px;
	text-decoration: none;
	opacity: 0.5;
	transition: opacity .3s ease;
}

.social__link:last-child {
	margin-right: 0;
}

.social__link:hover {
	opacity: 1;
}

.social__link:focus {
	opacity: 0.8;
	outline: 0;
}

/* End Social */

/* About */

.about__title {
	font-size: 36px;
	line-height: 1.5em;
	color: #222;
	text-align: left;
	font-weight: 300;
	margin: 0;
	margin-bottom: 1em;
}

.about__title::after {
	content: '';
	display: block;
	height: 3px;
	width: 50px;
	background: #F1C40F;
}

.about__desc p {
	margin: 0;
	margin-bottom: 2em;
}

.about__desc a {
	text-decoration: none;
	color: #222;
	transition: color .3s ease;
}

.about__desc a:hover,
.about__desc a:focus {
	color: #F1C40F;
	outline: none;
}

.about__desc h3 {
	font-size: 28px;
	color: #222;
	text-align: left;
	font-weight: 300;
	margin: 0;
	margin-bottom: 0.5em;
}
/* End About */

/* Adaptive */

@media all and ( max-width: 1300px ) {	
	.container {
		max-width: none;
	}
}

@media all and ( max-width: 900px ) {	
	.body {
		padding-bottom: 30px;
	}
	
	.container {
		margin-right: 30px;
		margin-left: 330px;
	}

	.sidebar {
		width: 300px;
		padding: 30px;
	}

	.sidebar__img {
		width: 100px;
		height: 100px;
		margin-bottom: 18px;
	}

	.sidebar__title {
		font-size: 30px;
	}
	.sidebar__subtitle {
		font-size: 20px;
	}
}



